* {
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  background: #000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  color: red;
  text-transform: uppercase;
  margin: 4rem 0;
}

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 4rem;
  }
  .search-form {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 1rem;
  }
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  width: 60%;
  color: #000;
  padding: 0.2rem 1rem;
}

.btn {
  width: 25%;
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background: #000;
  border: 1px solid red;
  transition: 0.5s;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
}

.recipe h2 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  padding: 3px;
  text-align: center;
}
.recipe a:hover {
  font-weight: 700;
  transition: 0.5s;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  cursor: pointer;
}

.recipe button:hover {
  font-size: 2.2rem;
  transition: 0.5s;
  height: 3.4rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #fff;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}
